/**
 * Flexbox guide : https://css-tricks.com/snippets/css/a-guide-to-flexbox/
 */

html, html > body {
    margin  : 0;
    padding : 0;
    width   : 100%;
    height  : 100%;
}
html > body {
    display         : flex;
    flex-wrap       : nowrap;
    justify-content : center;
    align-items     : center;
}
html > body > .class-canvas {
    flex-grow           : 0;
    flex-shrink         : 0;
    width               : 640px;
    height              : 400px;
    image-rendering     : crisp-edges;
}
